services:
  be-gx:
    container_name: be-gx
    image: registry.gitlab.com/tuanxx31/taikhoansieure/be-gx:latest
    restart: unless-stopped
    env_file: .env
    
    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_HOST: db-mysql
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      APP_KEYS: ${APP_KEYS}
      NODE_ENV: ${NODE_ENV}

    volumes:
      - ./public/uploads:/opt/app/public/uploads
      - ./tmp:/opt/app/.tmp

    ports:
      - "1337:1337"
    
    networks:
      - springboot-mysql

  fe-gx:
    container_name: fe-gx
    image: registry.gitlab.com/tuanxx31/taikhoansieure/fe-gx:latest
    restart: unless-stopped  # ← Thêm để auto restart
    
    environment:
      # ✅ Không có khoảng trắng
      NEXT_PUBLIC_STRAPI_API_URL: https://admin-gx.taikhoansieure.vn
      PORT: 3999
      HOSTNAME: 0.0.0.0  # ← Khớp với Dockerfile
    
    ports:
      - "3999:3999"  # host:container
    
    networks:
      - springboot-mysql
  

networks:
  springboot-mysql:
    external: true
    name: springboot-mysql