services:
  be-gx:
    container_name: be-gx
    image: registry.gitlab.com/tuanxx31/taikhoansieure/be-gx:latest
    restart: unless-stopped
    env_file: .env

    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_HOST: db-mysql
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      APP_KEYS: ${APP_KEYS}
      NODE_ENV: production

    volumes:
      # ✅ persist uploads
      - ./public/uploads:/opt/app/be-gx/public/uploads
      # ✅ persist tmp
      - ./tmp:/opt/app/be-gx/.tmp

    ports:
      - "1337:1337"

    networks:
      - springboot-mysql

  fe-gx:
    container_name: fe-gx
    image: registry.gitlab.com/tuanxx31/taikhoansieure/fe-gx:latest
    restart: unless-stopped

    environment:
      NEXT_PUBLIC_STRAPI_API_URL: https://admin.ghtandinh.site
      PORT: 3999
      HOSTNAME: 0.0.0.0

    ports:
      - "3999:3999"

    networks:
      - springboot-mysql

networks:
  springboot-mysql:
    external: true
    name: springboot-mysql
