services:
  be-gx:
    container_name: be-gx
    image: registry.gitlab.com/tuanxx31/taikhoansieure/be-gx:latest
    restart: unless-stopped

    env_file: .env
    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_HOST: db-mysql
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      APP_KEYS: ${APP_KEYS}
      NODE_ENV: ${NODE_ENV}

    # ✅ Production: chỉ mount dữ liệu cần persist (uploads)
    volumes:
      - ./public/uploads:/opt/app/public/uploads
      # Nếu bạn thật sự muốn override config runtime thì mở dòng này:
      # - ./config:/opt/app/config
      - ./tmp:/opt/app/.tmp


    ports:
      - "1337:1337"

    networks:
      - springboot-mysql

networks:
  springboot-mysql:
    external: true
    name: springboot-mysql
